
.todoItems{
  background-color: rgb(255, 255, 255);
  height: 40px;
  width: 85%;
  border-radius: 7px;
  align-items: center;
  display: flex;
  margin: 0.50rem;
}

.todoItems>p{
  flex: 1;
}

.todoItems--done {
  text-decoration: line-through;
}